<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("PORTAL", "Index", "Users", new { area = "" }, new { @class = "navbar-brand" })

            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Usuarios", "Index", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Medicamentos", "Index", "Medications", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("CFDI PDF", "Index", "CFDI", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
                <i id="logOut" class="fa fa-lock fa-2x" style="color:white; cursor:pointer; float:right;" title="Cerrar sesión"> </i>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Portal</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/commons")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/App/login.js"></script>
</body>
</html>
